@import "./reset";


@font-face {
  font-family: 'Gotham';
  src: url(/resources/Gotham-Bold.otf);
}

@media (min-width:320px){

.container{
  font-family: 'Gotham',sans-serif;
  background-image: url('../resources/staticloop.gif');
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  
  gap: 1em;

  .solid{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    background-color: black;
    opacity: 0.5;
  }

}


.btnEnter{
  z-index: 1;
  padding:1em;
  font-size:16px;

}
.radiotitle{
  z-index: 1;
  width:30em;


}

.inputs{
  
  position: absolute;
  display: flex;
  margin-top:2em;
  justify-content: center;
}
.char{
 
  width: 25px;
  height: 35px;
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.wrong{
  background-color: rgb(255, 117, 117);
}

.almost{
  background-color: rgb(255, 255, 128);
}

.done{
  background-color: rgb(142, 255, 142)
}

.btnEnter{
  background-color: white;
  color: black;
}
}